.titulo-projetos h2 {
    font-size: 70px;
    font-family: "Great Vibes", cursive;
}

.div-principal {
    background-color: rgba(238, 38, 38, 0.5);
    margin: 150px 40px 150px 40px;
    padding: 10px;
    border-radius: 20px;
}

/* .section-h2 {
    margin-top: 150px;
} */

.banners-titulo {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px;
}

.banners-titulo h2, .modal-title {
    color: #000;
}

.modal-body p{
    color: #000;
}

.conteudo-projeto {
    margin: 30px;
}

#botao-padrao {
    background-color: #000;
    color: #fff;
}

#botao-padrao:hover {
    background-color: rgba(238, 38, 38, 0.5);
}