/*navbar*/

.navbar {
    background-color: rgba(252, 163, 190, 255);
}

.nav-link {
    color: #fff;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
     color: #fff; 
}

.navbar-nav .nav-item .nav-link {
    transition: color 0.3s; /* Define a transição suave da cor */
}

.navbar-nav .nav-item .nav-link:hover {
    color: #000; 
}


.navbar-brand img{
    height: 50px;
    margin: 0px 16px 16px 30px; 
}

/*banner*/

.section-h2 {
    margin-top: 86px;
}

.banner-1{
    background-image: url(/assests/img-fundo3.avif);
}  

.banner-2{
    background-image: url(/assests/img-fundo3.avif);
} 

/* .banners banner-1 {
 para mexer no margin
} */

.banners {
    width: 100%;
    background-size: cover; /*para ocupar todo espaço desejado*/
    background-position: center; /*centralizar imagem*/
    background-attachment: fixed; /*para deixar a img fixa*/ /*esse efeito se chama PARALLAX*/
  }

  .banners-titulo {
    background-color: rgba(255, 255, 255, 0.5); 
    padding: 10px; 
}

.banners-titulo h2 {
    color: #000; /* Define a cor das letras em destaque */
}

#botao-padrao {
    background-color: pink;
}

#botao-padrao:hover {
    background-color: purple;
}

/*footer*/
.footer {
    background-color: rgba(252, 163, 190, 255);
  }
  
.footer-text{
    background-color: rgba(252, 163, 190, 255);
}

.bi::before, [class*=" bi-"]::before, [class^=bi-]::before {
    color: black;
    padding: 10px;
}